:root {

  --main-color: #efe9cc;
  --text-color: #324759;

  --tooltip-background-color:  #f6cd90;
  --tooltip-operand-color:  #f6cd90;

  --tooltip-text-color: #193c40;
  --tooltip-operand-text-color:  #193c40;

  --secondary-color: #deb881;
  --detailed-data-color: #eadea6;
}
