.context {

  padding: 0;
  display: grid;

  grid-template-columns: fit-content(55%) auto;
  grid-auto-rows: max-content;
  align-items: center;
  gap: 8px 12px;

  background-color: var(--detailed-data-color);

  font-size: 14px;
}
